@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

* {
    font-family: 'Open Sans', sans-serif; 
}

html {
    position: relative;
}

.jumbotron-fluid {
    
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-fluid .undertitle {
    font-weight: bloder;
    font: 'Open Sans';
}
.main-content {
    min-height: -webkit-calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    padding: 0px;
}

@media screen and ( min-width: 600px ) {
    .jumbotron-fluid {
        background-image: url('images/main-image.jpg');
    }
    .jumbotron-fluid .title-mobile {
        display: none;
    }
}
@media screen and ( max-width: 600px ) {
    .jumbotron-fluid {
        background-image: url('images/main-image-mobile.jpg');
    }
    .jumbotron-fluid .title-desktop {
        display: none;
    }
}
.contact-field-label {
    font-weight: 600;
}

footer {
    height: 60px;
    margin-top: 40px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    background-color: #e3e3e5;
}

.navigation * {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: black !important;
}

.owner-image {
    max-width: 250px;
}

.quote-source {
    margin-left: 2em;
    font-weight: 500;
}

.session-prep-item {
    margin-top: 1em;
}

.big-quote {
    font-weight: 500;
}